/* nested deeper */
$large: 16px;
$medium: 14px;
$small: 12px;

body {
    font-size: $medium;

    > h1 {
        font-size: $large;

        &.smaller {
            font-size: $small;
        }
    }
}